---
layout: default
home:  true
---
<div class="home-title">

    <h1>hi.</h1>

    <h2>my name is grant isom, i am currently developing ios and android apps at
        cerner in kansas city.</h2>

    <h2>i've been doing app development for a little over 5 years in <a>a variety of
        forms.</a></h2>

    <h2>currently i have been working on <a>healthelife</a> for <a>ios</a> and
        <a>android</a>, <a>myhomework's</a> apple watch app, and running a software
        consulting company called <a>caliber</a>.</h2>

</div>

<br />

<div class="menu-items">

    <div class="menu-item">
        <a><h2>current work</h2></a>
    </div>

    <div class="menu-item">
        <a><h2>past work</h2></a>
    </div>

    <div class="menu-item">
        <a><h2>get in touch</h2></a>
    </div>

    <div class="menu-item">
        <a><h2>misc.</h2></a>
    </div>

</div>

<div class="links">

    {% if site.github_username %}

      <div class="link">{% include icon-github.html %}</div>

    {% endif %}

    {% if site.twitter_username %}

     <div class="link"> {% include icon-twitter.html %}</div>
     
    {% endif %}

</div>
