/* ==========================================================================
   Archives
   ========================================================================== */

.c-archives {
    margin-bottom: 8rem;
}

.c-archives__intro {
    margin-bottom: 4rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $c-base__2;

    h1 {
        font-size: 3.6rem;
        font-weight: 700;
        margin: 0 0 1.6rem;
        color: $c-base__02;

        @media (max-width: $bp__sm) {
            font-size: 2.8rem;
        }
    }

    p {
        font-size: 1.8rem;
        line-height: 1.6;
        color: $c-base__00;
        margin: 0;
    }
}

.c-archives__year {
    margin-bottom: 2rem;
    margin-top: 4rem;
    @include fs--heading-2;
    font-weight: 600;
    color: $c-base__02;
    border-bottom: 1px solid $c-base__2;
    padding-bottom: 0.5rem;
    
    &:first-of-type {
        margin-top: 0;
    }
}

.c-archives__list {
    margin-bottom: 0;
    list-style: none;
}

.c-archives__item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    @media (min-width: $bp__sm) {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 2rem;
    }

    h3 {
        @include fs--heading-4;
        margin: 0;
        font-weight: 500;
        
        a {
            color: $c-base__02;
            text-decoration: none;
            
            &:hover {
                color: $c-base__3;
            }
        }
        
        small {
            display: block;
            margin-top: 0.5rem;
            @include fs--body;
            color: $c-base__00;
            font-weight: normal;
        }
    }

    p {
        @include fs--meta;
        color: $c-base__00;
        margin: 0;
        flex-shrink: 0;
    }
}

