/* ==========================================================================
   Tip
   ========================================================================== */

.c-tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.c-tags li {
  float: left;
}

.c-tag {
  display: inline-block;
  padding: 0 20px 0 23px;
  margin: 0 10px 50px 0;
  -webkit-transition: color 0.2s;
  border: 1px solid #dee2e5;
  background-color: #dee2e5;
  border-radius: 5px;
  padding: 6px 15px;
  color: $c-base__02;
  @media (prefers-color-scheme: dark) {
    color: $c-base__3;
    background-color: $c-base__03;
  }
  transition: all 300ms ease-in-out;
  margin-bottom: 20px;
}

.c-tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.c-tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.c-tag:hover {
  background-color: $c-accent__blue;
  color: white;
}

.c-tag:hover::after {
   border-left-color: $c-accent__blue;
}

.c-c-tag {
    margin-right: 1rem;
    position: relative;
    white-space: nowrap;
    @include fs--body;
    &:before {
        color: $c-base__0;
        content: '#\2009';
    }
}
